@charset "UTF-8";

/*-------------------------------------------
基本/デフォルト
-------------------------------------------*/

html {
    min-height: 100%;
    font-size: 62.5%; /* 基準が10pxになり、フォントサイズ計算が楽になる */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "Yu Gothic", "Meiryo", sans-serif;
    color: #333; /* テキストの色 */
    background-color: #f4f4f4; /* 背景色 */
    /* ブラウザデフォルトの余白をリセット */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* スクロールの設定を滑らかに */
  }

body {
    margin: 0 auto;
    max-width: 860px;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 1.6rem; 
    line-height: 1.6; 
    background-color: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
}
section {
    font-size: 1.5rem;
    max-width: 100%;
    justify-content: center;
    height: auto;
    margin-bottom: 120px;
}
section h2 {
    color: rgb(87, 61, 61);
    font-size: x-large;
    font-weight: normal;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    max-width: 860px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    margin: 0  auto;
}
#header img {
    width: 120px;
}

#header ul {
    font-size: normal;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 40px; /* アイテム間の余白 */
}

#header ul li {
    align-items: center; /* 縦中央揃え */
    justify-content: center; /* 横中央揃え */
}

#header ul li a {
    color: inherit;         /* 親要素の文字色を継承 */
    text-decoration: none;  /* 下線を消す */
}

#header ul li a:hover {
    color: #a7a7a7;         /* ホバー時の色 */
    text-decoration: none;  /* ホバー時も下線なし */
}

#header  ul li img {
    display: inline-block;
    vertical-align: middle;
}

#header li img {
    width: 20px;
  }

  /*-------------------------------------------
メインビジュアル
-------------------------------------------*/
#mainvisual {
    display: flex;
    height: 420px;
    justify-content: center; /* 横方向の中央揃え */
}

#mainvisual img {
    width: auto;
}

/*-------------------------------------------
about
-------------------------------------------*/
#about ul {
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;
    margin: 0;
}
#about li:first-child {
    margin-bottom: 30px;
}
#about p {
    font-size: 1.4rem;
    text-align:justify;
}

/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3列 */
    gap: 30px; /* アイテム間の余白（必要に応じて調整） */
    list-style-type: none; /* リストマーカーを削除 */
    padding: 0;
    margin: 0;
}
#works img {
    width: 100%; /* 各画像をリストアイテムの幅に合わせる */
    height: auto; /* 縦横比を保つ */
    display: block;
}

/*-------------------------------------------
News
-------------------------------------------*/
#news dl {
    font-size: 1.4rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 100px;
}

#news dt {
    font-weight: bold;
    flex-basis: 20%; /* dt の幅を20%に設定 */
    margin: 0;
    padding-left: 30px;
}

#news dd {
    flex-basis: 80%; /* dd の幅を80%に設定 */
    margin: 0;
}

#news dl > div {
    display: flex; /* dt と dd を横並びにする */
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

/* 最後の dd 要素の横線を消す*/ 
#news dl > div:last-child {
    border-bottom: none;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact dl {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.6rem;
}
#contact dt {
    flex-basis: 15%;
}
#contact dd {
    flex-basis: 85%;
    margin: 0;
    border: 1px solid  #cbc9c9;
    padding: 10px;
}

#contact dl > div {
    display: flex; /* dt と dd を横並びにする */
    align-items: flex-start;
    margin-bottom: 10px;
}
#contact button {
    background-color: #292929;
    color: white;
    padding: 15px 80px;
}

#message-dd {
    height: 150px;
}
#button {
    display: flex;
    justify-content: center;
}
/*-------------------------------------------
Footer
-------------------------------------------*/
footer {
    width: 100vw; /* デバイス全体の横幅に */
    margin-left: calc(-50vw + 50%); /* body の中央揃えを打ち消す */
    color: white;
    font-size: xx-small;
    background-color: #292929;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}